.barcode-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 49px 30px;
}

.barcode-item.next-line{
    margin-top: 4rem;
}

.barcode-item{
    width: 38mm;
    height: 21mm;
    padding: 0 5px;
}