.dashboard .dashboard-center {
  background-color: rgba(31, 82, 175, 1);
  color: #4286a9;
  height: 25% !important;
}

/* .dashboard-center .dashboard-center-left {
  width: 450px;
} */

.dashboard-center-left .grid-small-text {
  color: #373276;
  text-align: center;
  font-size: 9px;
}

.dashboard-center-left .grid-small-text2 {
  color: #373276;
  font-weight: bolder;
  text-align: center;
}

.dashboard-grid-radius1 {
  border-top-left-radius: 10px;
  border-right: 1px solid #373276;
  background-color: rgba(71, 115, 195, 1);
}

.dashboard-grid-radius2 {
  border-top-right-radius: 10px;
  background-color: rgba(71, 115, 195, 1);
}

.dashboard-grid-radius3 {
  border-bottom-left-radius: 10px;
  border-right: 1px solid #373276;
  border-top: 1px solid #373276;
  background-color: rgba(71, 115, 195, 1);
}

.dashboard-grid-radius4 {
  border-bottom-right-radius: 10px;
  border-top: 1px solid #373276;
  background-color: rgba(71, 115, 195, 1);
}

.dashboard-center .dashboard-center-right {
  background-color: rgba(44, 64, 101, 1);
  

 
}

.dashboard .dashboard-bottom .dashboard-bottom-box3 {
  background-color: #e3e2f5;
}

.dashboard-bottom .dashboard-bottom-box3-bottom {
  background-color: rgba(71, 115, 195, 1);
}

.div-scroll {
  /* background-color: rgba(255, 255, 255, 0.469); */
  background-image: linear-gradient(rgba(255, 255, 255, 0.645),rgba(255, 255, 255, 0.303));
  height: 290px;
  overflow: scroll;
}

.div-scroll::-webkit-scrollbar {
  display: none;
  width: 10px;
}

.div-scroll-cheque{
  overflow-y: auto;
  height: 290px;
}


.dash-reciept-color{
  background-image: linear-gradient(rgb(236, 12, 176),rgb(79, 6, 79));
  color: white;
  box-shadow: 0px 0px 10px black;
  font-weight: 900;
  border-style: none;
}

.dash-payment-color{
  background-image: linear-gradient(rgba(54, 126, 211, 1),rgb(79, 6, 79));
  color: white;
  box-shadow: 0px 0px 10px black;
  font-weight: 900;
  border-style: none;
}

.dash-purchase-color{
  background-image: linear-gradient( 	#FF1818,#5b0707);
  color: white;
  box-shadow: 0px 0px 10px black;
  font-weight: 900;
  border-style: none;
}

.dash-sales-color{
  background-image: linear-gradient(#39FF14,#104a05);
  color: white;
  box-shadow: 0px 0px 10px black;
  font-weight: 900;
  border-style: none;
}
